In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [349]:
df = pd.read_csv('/content/drive/My Drive/train_1.csv')
df.head()

   enrollee_id      city  ...  training_hours target
0        23798  city_149  ...             106      0
1        29166   city_83  ...              69      0
2           46   city_16  ...               4      0
3        18527   city_64  ...              26      0
4        21751  city_100  ...              88      1

[5 rows x 14 columns]

In [350]:
df.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4098
relevent_experience          0
enrolled_university        342
education_level            457
major_discipline          2838
experience                  59
company_size              4779
company_type              5039
last_new_job               367
training_hours               0
target                       0
dtype: int64

In [351]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             18359 non-null  int64
 1   city                    18359 non-null  object
 2   city_development_index  18359 non-null  float64
 3   gender                  14261 non-null  object
 4   relevent_experience     18359 non-null  object
 5   enrolled_university     18017 non-null  object
 6   education_level         17902 non-null  object
 7   major_discipline        15521 non-null  object
 8   experience              18300 non-null  object
 9   company_size            13580 non-null  object
 10  company_type            13320 non-null  object
 11  last_new_job            17992 non-null  object
 12  training_hours          18359 non-null  int64
 13  target                  18359 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [352]:
df.groupby(['gender','target']).count()

               enrollee_id   city  ...  last_new_job  training_hours
gender target                      ...
Female 0              1009   1009  ...          1006            1009
       1               179    179  ...           178             179
Male   0             11306  11306  ...         11255           11306
       1              1578   1578  ...          1570            1578
Other  0               160    160  ...           160             160
       1                29     29  ...            29              29

[6 rows x 12 columns]

In [353]:
df.groupby('gender').count()

        enrollee_id   city  ...  training_hours  target
gender                      ...
Female         1188   1188  ...            1188    1188
Male          12884  12884  ...           12884   12884
Other           189    189  ...             189     189

[3 rows x 13 columns]

df.groupby('target').count()

12884/1188 = 10.845 (M/F ratio) <br>
11306/1009 = 11.205 (M/F for 0 ratio)<br>
1578/179 = 8.81 (M/F for 1 ratio)<br>
1786/12475 = 0.14316 (0/1 ratio)<br>
1578/11306 = 0.1395 (0/1 for men)<br>
179/1009 = 0.1774 (0/1 for women)<br>

# Can Conclude gender doesn't play a significant role in deciding the target as all 0/1 ratios are very close

## Removing Nan in Experience

In [354]:
df.head()

   enrollee_id      city  ...  training_hours target
0        23798  city_149  ...             106      0
1        29166   city_83  ...              69      0
2           46   city_16  ...               4      0
3        18527   city_64  ...              26      0
4        21751  city_100  ...              88      1

[5 rows x 14 columns]

In [0]:
def check(x):
    if x == '>20':
        return 20
    elif x == '<1':
        return 0
    else:
        return x

In [0]:
def convertint(x):
    if isinstance(x,str):
        return int(x)
    else:
        return x

In [0]:
df['experience'] = df['experience'].apply(lambda x : check(x))

In [358]:
df['experience'].unique()

array(['3', '14', '6', '8', 20, '4', '9', '15', '10', '1', '5', '16',
       '11', '12', '7', '2', '13', 0, '19', '18', '17', nan, '20'],
      dtype=object)

In [0]:
df['experience'] = df['experience'].apply(lambda x : convertint(x))

In [0]:
tempdf = df[['relevent_experience','experience']]

In [361]:
tempdf.head()

       relevent_experience  experience
0  Has relevent experience         3.0
1  Has relevent experience        14.0
2  Has relevent experience         6.0
3  Has relevent experience        14.0
4   No relevent experience         8.0

In [0]:
tempdf = tempdf.dropna()

In [363]:
tempdf.groupby('relevent_experience').mean()

                         experience
relevent_experience
Has relevent experience   11.706381
No relevent experience     6.649526

In [364]:
df[df['experience'].isnull()== True]

       enrollee_id      city  ...  training_hours target
149          17077  city_134  ...             106      0
940          23806  city_114  ...              35      0
1336          4823  city_123  ...               9      1
1445         17123   city_21  ...              32      0
2031         19353   city_73  ...              12      1
2627         20332  city_103  ...              56      0
2830         10582   city_36  ...              44      0
2905         14965  city_103  ...              70      0
3103         20153  city_103  ...              20      1
3306         21617  city_134  ...              45      0
3551         17799  city_103  ...              64      0
3801          3816  city_138  ...              21      0
4115         10645   city_21  ...              60      1
4419         17871  city_134  ...              49      0
5608         21635   city_21  ...             242      0
5633         12786  city_136  ...              26      1
6489         16308   city_21  ...             216      0
7033         24318  city_126  ...              38      0
7427         12038   city_90  ...              44      1
7577          4417  city_103  ...              99      0
8443          3113   city_16  ...              94      0
8490         21042  city_103  ...              24      0
8617         15516  city_136  ...              46      0
8838         25035  city_116  ...             144      0
9009          8082   city_16  ...              40      0
9089         16736  city_103  ...             103      0
9199         32626  city_150  ...              51      1
9396         15198  city_103  ...              21      0
9558          7811   city_36  ...              94      0
9635         25181  city_100  ...               4      0
9982          9306   city_67  ...              96      1
10006        21862  city_114  ...             138      0
10646        27758  city_103  ...              19      0
10936        31348   city_99  ...              35      0
11049        17642  city_134  ...              33      0
11356        10798   city_73  ...               5      0
11386        12373  city_103  ...              96      1
11462        11963   city_61  ...              24      0
11651        17052   city_90  ...             118      1
11871        22849  city_116  ...              12      0
11934         6473   city_21  ...              18      0
13036        10761   city_21  ...              52      0
13197        15273  city_103  ...              34      0
13561        24875  city_103  ...              41      1
13839        19780  city_105  ...              53      0
13921         8470  city_103  ...              11      0
14366         1435  city_103  ...               4      0
14652         2978   city_21  ...              91      0
14715         5876   city_21  ...             256      0
14837        30800   city_16  ...             153      0
15075        16148  city_103  ...             136      0
15500        20587   city_91  ...              56      0
15585        23156  city_103  ...              83      0
15844        30213   city_21  ...              44      0
16186        23947  city_103  ...              70      0
16270         7907   city_21  ...              27      0
16327        16915  city_103  ...              34      0
16414        11099   city_11  ...              46      0
18014        24137   city_21  ...              36      1

[59 rows x 14 columns]

In [365]:
np.isnan(df['experience'])

0        False
1        False
2        False
3        False
4        False
         ...
18354    False
18355    False
18356    False
18357    False
18358    False
Name: experience, Length: 18359, dtype: bool

In [0]:
def update(year,exp):
    if np.isnan(year)==False:
        return year
    else:
        if exp == "Has relevent experience":
            return float(11.706381)
        else:
            return float(6.649526)

In [0]:
df['experience'] = df.apply(lambda x : update(x['experience'],x['relevent_experience']), axis= 1)

In [368]:
type(df['experience'][1])

numpy.float64

In [369]:
df.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4098
relevent_experience          0
enrolled_university        342
education_level            457
major_discipline          2838
experience                   0
company_size              4779
company_type              5039
last_new_job               367
training_hours               0
target                       0
dtype: int64

## Removing Nan in last_new_job

In [370]:
appenddf = pd.get_dummies(df['relevent_experience'])
appenddf = appenddf[['Has relevent experience']]
appenddf.head()

df = pd.concat([df.drop('relevent_experience',axis=1),appenddf], axis=1)

df.head()

   enrollee_id      city  ...  target Has relevent experience
0        23798  city_149  ...       0                       1
1        29166   city_83  ...       0                       1
2           46   city_16  ...       0                       1
3        18527   city_64  ...       0                       1
4        21751  city_100  ...       1                       0

[5 rows x 14 columns]

In [371]:
df.head()

   enrollee_id      city  ...  target Has relevent experience
0        23798  city_149  ...       0                       1
1        29166   city_83  ...       0                       1
2           46   city_16  ...       0                       1
3        18527   city_64  ...       0                       1
4        21751  city_100  ...       1                       0

[5 rows x 14 columns]

In [372]:
df[df['last_new_job'].isnull()]

       enrollee_id      city  ...  target Has relevent experience
30           23129  city_103  ...       0                       0
67           23783   city_90  ...       0                       0
112          12449  city_176  ...       0                       1
198           1980   city_21  ...       0                       1
224          21814  city_100  ...       0                       1
...            ...       ...  ...     ...                     ...
18130        18444  city_114  ...       0                       0
18211        19128   city_61  ...       0                       0
18246        18493   city_99  ...       0                       0
18292        28252   city_21  ...       0                       0
18338         7017  city_173  ...       0                       1

[367 rows x 14 columns]

In [373]:
df['last_new_job'].unique()

array(['1', '2', '3', '>4', 'never', '4', nan], dtype=object)

In [0]:
def check1(x):
    if x == '>4':
        return 5
    elif x == 'never':
        return 0
    else:
        return x

In [0]:
def convertint1(x):
    if isinstance(x,str):
        return int(x)
    else:
        return x

In [0]:
df['last_new_job'] = df['last_new_job'].apply(lambda x : check1(x))

In [0]:
df['last_new_job'] = df['last_new_job'].apply(lambda x : convertint1(x))

In [378]:
df.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'enrolled_university', 'education_level', 'major_discipline',
       'experience', 'company_size', 'company_type', 'last_new_job',
       'training_hours', 'target', 'Has relevent experience'],
      dtype='object')

In [379]:
X = df[['city_development_index','experience','Has relevent experience','last_new_job']]
X.head()

   city_development_index  experience  Has relevent experience  last_new_job
0                   0.689         3.0                        1           1.0
1                   0.923        14.0                        1           1.0
2                   0.910         6.0                        1           2.0
3                   0.666        14.0                        1           1.0
4                   0.887         8.0                        0           2.0

In [380]:
X

       city_development_index  ...  last_new_job
0                       0.689  ...           1.0
1                       0.923  ...           1.0
2                       0.910  ...           2.0
3                       0.666  ...           1.0
4                       0.887  ...           2.0
...                       ...  ...           ...
18354                   0.920  ...           1.0
18355                   0.920  ...           1.0
18356                   0.926  ...           3.0
18357                   0.939  ...           3.0
18358                   0.794  ...           2.0

[18359 rows x 4 columns]

In [0]:
nullindexlist=X[X['last_new_job'].isnull()].index.tolist()

In [382]:
pd.DataFrame(X.iloc[nullindexlist[0]]).transpose()

    city_development_index  experience  Has relevent experience  last_new_job
30                    0.92         8.0                      0.0           NaN

In [0]:
predictdf = pd.DataFrame(columns=['city_development_index','experience', 'Has relevent experience','last_new_job'])

In [384]:
predictdf

Empty DataFrame
Columns: [city_development_index, experience, Has relevent experience, last_new_job]
Index: []

In [0]:
for num in nullindexlist:
    predictdf = pd.concat([predictdf,pd.DataFrame(X.iloc[num]).transpose()],sort=False)

In [0]:
predictdf.drop('last_new_job',axis=1,inplace=True)

In [387]:
nullindexlist

[30,
 67,
 112,
 198,
 224,
 244,
 263,
 319,
 342,
 508,
 613,
 659,
 729,
 789,
 818,
 955,
 974,
 1105,
 1112,
 1185,
 1242,
 1322,
 1336,
 1379,
 1390,
 1442,
 1445,
 1502,
 1520,
 1550,
 1592,
 1620,
 1622,
 1661,
 1674,
 1814,
 2012,
 2072,
 2086,
 2090,
 2174,
 2289,
 2296,
 2408,
 2450,
 2525,
 2545,
 2555,
 2630,
 2784,
 2812,
 2829,
 2905,
 2911,
 2955,
 2959,
 3022,
 3066,
 3103,
 3211,
 3218,
 3234,
 3310,
 3322,
 3551,
 3574,
 3585,
 3627,
 3638,
 3654,
 3656,
 3665,
 3773,
 3870,
 3903,
 3909,
 3920,
 3995,
 4031,
 4139,
 4194,
 4305,
 4377,
 4461,
 4464,
 4469,
 4582,
 4678,
 4749,
 4800,
 4813,
 4856,
 4877,
 4927,
 5015,
 5021,
 5022,
 5034,
 5066,
 5180,
 5189,
 5191,
 5197,
 5198,
 5200,
 5250,
 5399,
 5417,
 5506,
 5606,
 5633,
 5661,
 5670,
 5671,
 5756,
 5769,
 5927,
 5971,
 6015,
 6069,
 6152,
 6198,
 6263,
 6319,
 6404,
 6475,
 6489,
 6505,
 6774,
 6826,
 6845,
 6846,
 6955,
 7019,
 7078,
 7082,
 7173,
 7175,
 7206,
 7245,
 7302,
 7356,
 7424,
 7427,
 7451,
 7463,
 7464,
 7472,
 7506,
 7577,
 7770,
 7775,
 7855,
 7986,
 7999,
 8004,
 8084,
 8239,
 8241,
 8337,
 8347,
 8437,
 8482,
 8506,
 8611,
 8617,
 8662,
 8673,
 8708,
 8930,
 8957,
 8983,
 9055,
 9057,
 9082,
 9089,
 9277,
 9279,
 9318,
 9367,
 9396,
 9534,
 9558,
 9667,
 9727,
 9888,
 9923,
 9975,
 10090,
 10310,
 10378,
 10387,
 10507,
 10516,
 10545,
 10570,
 10597,
 10619,
 10666,
 10689,
 10758,
 10851,
 10857,
 10891,
 10937,
 10939,
 10955,
 10966,
 11038,
 11046,
 11050,
 11057,
 11255,
 11256,
 11356,
 11429,
 11447,
 11495,
 11582,
 11608,
 11634,
 11659,
 11677,
 11713,
 11714,
 11727,
 11815,
 11893,
 11979,
 12029,
 12117,
 12178,
 12307,
 12319,
 12459,
 12467,
 12595,
 12605,
 12621,
 12653,
 12713,
 12947,
 12984,
 12996,
 13044,
 13079,
 13089,
 13095,
 13197,
 13252,
 13254,
 13285,
 13401,
 13422,
 13472,
 13475,
 13523,
 13526,
 13534,
 13600,
 13605,
 13643,
 13657,
 13694,
 13723,
 13749,
 13784,
 13796,
 13802,
 13878,
 13921,
 13942,
 13998,
 14056,
 14091,
 14121,
 14141,
 14183,
 14262,
 14301,
 14366,
 14405,
 14433,
 14493,
 14578,
 14580,
 14635,
 14652,
 14697,
 14700,
 14715,
 14765,
 14781,
 14790,
 14799,
 14818,
 14948,
 14961,
 15254,
 15261,
 15272,
 15396,
 15464,
 15473,
 15600,
 15612,
 15630,
 15703,
 15726,
 15769,
 15855,
 15889,
 15918,
 16086,
 16107,
 16137,
 16186,
 16270,
 16402,
 16414,
 16467,
 16477,
 16485,
 16487,
 16503,
 16533,
 16563,
 16656,
 16804,
 16851,
 16856,
 16911,
 16966,
 17002,
 17110,
 17157,
 17194,
 17225,
 17258,
 17268,
 17280,
 17292,
 17563,
 17571,
 17584,
 17586,
 17604,
 17643,
 17648,
 17652,
 17730,
 17741,
 17805,
 17817,
 17822,
 17835,
 17931,
 17968,
 17977,
 18014,
 18103,
 18116,
 18130,
 18211,
 18246,
 18292,
 18338]

In [0]:
newX = X.dropna()

In [0]:
variable = newX.drop('last_new_job',axis=1)
target = newX['last_new_job']

In [0]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [391]:
lr.fit(variable,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
ans = pd.DataFrame(lr.predict(predictdf),columns=['last_new_job'])

In [393]:
ans

     last_new_job
0        1.573468
1        0.767102
2        1.382369
3        0.849716
4        2.127805
..            ...
362      1.130670
363      1.122669
364      1.905258
365      1.056426
366      3.238492

[367 rows x 1 columns]

In [394]:
for i,num in enumerate(nullindexlist):
    df['last_new_job'].iloc[num] = ans.iloc[i].values

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [395]:
df.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     4098
enrolled_university         342
education_level             457
major_discipline           2838
experience                    0
company_size               4779
company_type               5039
last_new_job                  0
training_hours                0
target                        0
Has relevent experience       0
dtype: int64

In [396]:
df.head()

   enrollee_id      city  ...  target Has relevent experience
0        23798  city_149  ...       0                       1
1        29166   city_83  ...       0                       1
2           46   city_16  ...       0                       1
3        18527   city_64  ...       0                       1
4        21751  city_100  ...       1                       0

[5 rows x 14 columns]

In [397]:
df.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     4098
enrolled_university         342
education_level             457
major_discipline           2838
experience                    0
company_size               4779
company_type               5039
last_new_job                  0
training_hours                0
target                        0
Has relevent experience       0
dtype: int64

In [398]:
df.corr()

                         enrollee_id  ...  Has relevent experience
enrollee_id                 1.000000  ...                -0.034196
city_development_index     -0.033466  ...                 0.063763
experience                 -0.026451  ...                 0.340952
last_new_job               -0.023903  ...                 0.241642
training_hours              0.001248  ...                 0.006397
target                      0.033873  ...                -0.074088
Has relevent experience    -0.034196  ...                 1.000000

[7 rows x 7 columns]

In [0]:
df = df.dropna(thresh=df.shape[1]-3, axis=0)

In [400]:
df

       enrollee_id      city  ...  target Has relevent experience
0            23798  city_149  ...       0                       1
1            29166   city_83  ...       0                       1
2               46   city_16  ...       0                       1
3            18527   city_64  ...       0                       1
4            21751  city_100  ...       1                       0
...            ...       ...  ...     ...                     ...
18354        25366  city_103  ...       0                       1
18355        25545  city_160  ...       0                       0
18356        11514  city_114  ...       0                       1
18357         1689   city_75  ...       0                       1
18358         5995  city_105  ...       0                       1

[17640 rows x 14 columns]

# enrolled univeristy

In [401]:
df['enrolled_university'].unique()

array(['no_enrollment', 'Full time course', 'Part time course', nan],
      dtype=object)

In [0]:
tempdf = df[['enrolled_university','education_level']]

In [403]:
tempdf.isnull().sum()

enrolled_university    174
education_level        162
dtype: int64

In [0]:
tempdf = tempdf.dropna()

In [405]:
tempdf.isnull().sum()

enrolled_university    0
education_level        0
dtype: int64

In [0]:
appenddf = pd.get_dummies(tempdf['enrolled_university'])
appenddf.head()

tempdf = pd.concat([tempdf.drop('enrolled_university',axis=1),appenddf], axis=1)

In [0]:
appenddf = pd.get_dummies(tempdf['education_level'])
appenddf.head()

tempdf = pd.concat([tempdf.drop('education_level',axis=1),appenddf], axis=1)

In [408]:
tempdf.head()

   Full time course  Part time course  ...  Phd  Primary School
0                 0                 0  ...    0               0
1                 0                 0  ...    0               0
2                 0                 0  ...    0               0
3                 0                 0  ...    0               0
4                 0                 0  ...    0               0

[5 rows x 8 columns]

In [409]:
tempdf.corr()

                  Full time course  Part time course  ...       Phd  Primary School
Full time course          1.000000         -0.120969  ... -0.049804       -0.026206
Part time course         -0.120969          1.000000  ... -0.025846       -0.013984
no_enrollment            -0.816598         -0.474185  ...  0.059202        0.031374
Graduate                 -0.019215          0.027558  ... -0.206527       -0.151126
High School               0.197075          0.035062  ... -0.054202       -0.039662
Masters                  -0.089035         -0.041973  ... -0.093786       -0.068628
Phd                      -0.049804         -0.025846  ...  1.000000       -0.019622
Primary School           -0.026206         -0.013984  ... -0.019622        1.000000

[8 rows x 8 columns]

In [0]:
def putedulevel(lev,uni):
    if isinstance(lev,str):
        return lev
    else:
        if uni == 'Full time course':
            return 'High School'
        elif uni == 'Part time course':
            return 'High School'
        else:
            return 'Masters'

In [0]:
def puttype(uni,lev):
    if isinstance(uni,str):
        return uni
    else:
        if lev == 'Graduate':
            return 'Part time course'
        elif lev == 'High School':
            return 'Full time course'
        elif lev == 'Masters':
            return 'no_enrollment'
        elif lev == 'Phd':
            return 'no_enrollment'
        elif lev == 'Primary School':
            return 'no_enrollment'
        else:
            return 'no_enrollment'

In [0]:
df['enrolled_university'] = df.apply(lambda x : puttype(x['enrolled_university'],x['education_level']),axis=1)

In [0]:
df['education_level'] = df.apply(lambda x : putedulevel(x['education_level'],x['enrolled_university']),axis=1)

In [414]:
df.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     3563
enrolled_university           0
education_level               0
major_discipline           2145
experience                    0
company_size               4075
company_type               4337
last_new_job                  0
training_hours                0
target                        0
Has relevent experience       0
dtype: int64

In [415]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17640 entries, 0 to 18358
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   enrollee_id              17640 non-null  int64
 1   city                     17640 non-null  object
 2   city_development_index   17640 non-null  float64
 3   gender                   14077 non-null  object
 4   enrolled_university      17640 non-null  object
 5   education_level          17640 non-null  object
 6   major_discipline         15495 non-null  object
 7   experience               17640 non-null  float64
 8   company_size             13565 non-null  object
 9   company_type             13303 non-null  object
 10  last_new_job             17640 non-null  float64
 11  training_hours           17640 non-null  int64
 12  target                   17640 non-null  int64
 13  Has relevent experience  17640 non-null  uint8
dtypes: float64(3), int64(3), object(7), uint8(1)
memory usage: 1.9+ MB

## Major Discipline

In [416]:
df['education_level'].unique()

array(['Graduate', 'Masters', 'High School', 'Phd', 'Primary School'],
      dtype=object)

In [0]:
#tempdf.groupby(['enrolled_university','education_level','major_discipline']).count()

In [418]:
df[(df['major_discipline'].isnull()) & ((df['education_level'] == 'High School') | (df['education_level'] == 'Primary School'))]

       enrollee_id      city  ...  target Has relevent experience
15           19752   city_75  ...       0                       1
24            3472   city_16  ...       1                       1
25           30466   city_10  ...       0                       0
41            4653  city_114  ...       0                       0
42           18048   city_27  ...       0                       1
...            ...       ...  ...     ...                     ...
18263        17388  city_173  ...       0                       0
18275        28328   city_16  ...       0                       1
18280         3285  city_102  ...       0                       1
18319         8467  city_160  ...       0                       1
18343         8128   city_11  ...       0                       1

[2007 rows x 14 columns]

In [0]:
def applymajor(edulev,dis):
    if isinstance(dis,str):
        return dis
    else:
        if edulev == 'High School':
            return 'No Major'
        elif edulev == 'Primary School':
            return 'No Major'
        else:
            return 'STEM'

In [0]:
df['major_discipline'] = df.apply(lambda x : applymajor(x['education_level'],x['major_discipline']),axis=1)

In [421]:
df.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     3563
enrolled_university           0
education_level               0
major_discipline              0
experience                    0
company_size               4075
company_type               4337
last_new_job                  0
training_hours                0
target                        0
Has relevent experience       0
dtype: int64

# Company Size and Company Type

In [422]:
df['company_size'].unique()

array(['100-500', '<10', '50-99', nan, '5000-9999', '10000+', '1000-4999',
       '500-999', '10/49'], dtype=object)

In [423]:
df['company_type'].unique()

array(['Pvt Ltd', 'Funded Startup', 'Public Sector', nan,
       'Early Stage Startup', 'NGO', 'Other'], dtype=object)

In [424]:
df['company_type'].value_counts()

Pvt Ltd                10040
Funded Startup          1037
Public Sector            993
Early Stage Startup      580
NGO                      534
Other                    119
Name: company_type, dtype: int64

In [0]:
# First giving company type as other for nan values
def applycomtype(com_type):
    if isinstance(com_type,str):
        return com_type
    else:
        return "Pvt Ltd"

In [0]:
df['company_type'] = df.apply(lambda x : applycomtype(x['company_type']),axis=1)

In [427]:
df.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     3563
enrolled_university           0
education_level               0
major_discipline              0
experience                    0
company_size               4075
company_type                  0
last_new_job                  0
training_hours                0
target                        0
Has relevent experience       0
dtype: int64

In [428]:
df['company_type'].unique()

array(['Pvt Ltd', 'Funded Startup', 'Public Sector',
       'Early Stage Startup', 'NGO', 'Other'], dtype=object)

In [429]:
df['company_size'].unique()

array(['100-500', '<10', '50-99', nan, '5000-9999', '10000+', '1000-4999',
       '500-999', '10/49'], dtype=object)

In [0]:
# Now Placing Company Size based on Company Type

def applycomsize(comtype, size):
      if isinstance(size,str):
        return size
      else:
        if comtype == "Early Stage Startup" or comtype == "Other":
          return "<10"
        elif comtype == "NGO":
          return "100-500"
        elif comtype == "Pvt Ltd":
          return "1000-4999"
        elif comtype == "Funded Startup":
          return "500-999"
        elif comtype == "Public Sector":
          return "10000+"

In [0]:
df['company_size'] = df.apply(lambda x : applycomsize(x['company_type'], x['company_size']),axis=1)

In [432]:
df.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     3563
enrolled_university           0
education_level               0
major_discipline              0
experience                    0
company_size                  0
company_type                  0
last_new_job                  0
training_hours                0
target                        0
Has relevent experience       0
dtype: int64

In [0]:
# for column in ['company_size','company_type']:
#     df[column].fillna(df[column].mode()[0], inplace=True)
#     testdf[column].fillna(testdf[column].mode()[0], inplace=True)

One hot encoding of all variables

In [433]:
appenddf = pd.get_dummies(df['enrolled_university'])


df = pd.concat([df.drop('enrolled_university',axis=1),appenddf], axis=1)

df.head()

   enrollee_id      city  ...  Part time course no_enrollment
0        23798  city_149  ...                 0             1
1        29166   city_83  ...                 0             1
2           46   city_16  ...                 0             1
3        18527   city_64  ...                 0             1
4        21751  city_100  ...                 0             1

[5 rows x 16 columns]

In [434]:
df.drop('Full time course',inplace = True,axis=1)
appenddf = pd.get_dummies(df['education_level'],drop_first=True)


df = pd.concat([df.drop('education_level',axis=1),appenddf], axis=1)

df.head()

   enrollee_id      city  city_development_index  ... Masters Phd  Primary School
0        23798  city_149                   0.689  ...       0   0               0
1        29166   city_83                   0.923  ...       0   0               0
2           46   city_16                   0.910  ...       0   0               0
3        18527   city_64                   0.666  ...       0   0               0
4        21751  city_100                   0.887  ...       1   0               0

[5 rows x 18 columns]

In [435]:
appenddf = pd.get_dummies(df['major_discipline'],drop_first=True)


df = pd.concat([df.drop('major_discipline',axis=1),appenddf], axis=1)

df.head()

   enrollee_id      city  city_development_index  ... No Major  Other STEM
0        23798  city_149                   0.689  ...        0      0    1
1        29166   city_83                   0.923  ...        0      0    1
2           46   city_16                   0.910  ...        0      0    1
3        18527   city_64                   0.666  ...        0      0    1
4        21751  city_100                   0.887  ...        0      0    1

[5 rows x 22 columns]

In [436]:
appenddf = pd.get_dummies(df['company_size'],drop_first=True)


df = pd.concat([df.drop('company_size',axis=1),appenddf], axis=1)

df.head()

appenddf = pd.get_dummies(df['company_type'],drop_first=True)


df = pd.concat([df.drop('company_type',axis=1),appenddf], axis=1)

df.head()

   enrollee_id      city  city_development_index  ... Other  Public Sector  Pvt Ltd
0        23798  city_149                   0.689  ...     0              0        1
1        29166   city_83                   0.923  ...     0              0        0
2           46   city_16                   0.910  ...     0              1        0
3        18527   city_64                   0.666  ...     0              0        1
4        21751  city_100                   0.887  ...     0              0        1

[5 rows x 32 columns]

Models

In [0]:
from sklearn.model_selection import train_test_split

X = df.drop(['gender','city','target','enrollee_id'],axis=1)
y = df['target']

In [0]:
X.columns = ['city_development_index', 'experience', 'last_new_job',
       'training_hours', 'Has relevent experience', 'Part time course',
       'no_enrollment', 'High School', 'Masters', 'Phd', 'Primary School',
       'Business Degree', 'Humanities', 'No Major', 'Otherstudies', 'STEM', '100-500',
       '1000-4999', '10000+', '50-99', '500-999', '5000-9999', '10',
       'Funded Startup', 'NGO', 'Other', 'Public Sector', 'Pvt Ltd']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [440]:
from sklearn.ensemble import BaggingClassifier
from imblearn.ensemble import BalancedBaggingClassifier

from imblearn.metrics import classification_report_imbalanced

bagging = BaggingClassifier(random_state=0)
balanced_bagging = BalancedBaggingClassifier(random_state=0)

bagging.fit(X_train, y_train)
balanced_bagging.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

BalancedBaggingClassifier(base_estimator=None, bootstrap=True,
                          bootstrap_features=False, max_features=1.0,
                          max_samples=1.0, n_estimators=10, n_jobs=1,
                          oob_score=False, random_state=0, ratio=None,
                          replacement=False, sampling_strategy='auto',
                          verbose=0, warm_start=False)

In [441]:
print('Classification of original dataset with Bagging (scikit-learn)')
y_pred = bagging.predict(X_test)
try:
    scores = bagging.decision_function(X_test)
except:
    scores = bagging.predict_proba(X_test)[:,1]

Classification of original dataset with Bagging (scikit-learn)

In [442]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,scores)

0.5798778609394328

In [443]:
print('Classification of original dataset with BalancedBagging (imbalanced-learn)')
y_pred = balanced_bagging.predict(X_test)
try:
    scores = balanced_bagging.decision_function(X_test)
except:
    scores = balanced_bagging.predict_proba(X_test)[:,1]

Classification of original dataset with BalancedBagging (imbalanced-learn)

In [444]:
roc_auc_score(y_test,scores)

0.6055112665526711

In [445]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

pre = RandomForestClassifier(n_jobs=-1, random_state = 42,
                             max_features= 'sqrt', 
                             criterion = 'entropy',n_estimators=100)
pre.fit(X_train, y_train)

#Make predictions
y_pred = pre.predict(X_test)
try:
    scores = pre.decision_function(X_test)
except:
    scores = pre.predict_proba(X_test)[:,1]

#Make plots
print(confusion_matrix(y_test,y_pred))
#plot_aucprc(pre, scores)

print(roc_auc_score(y_test,scores))

[[4538   65]
 [ 660   29]]
0.606934267328022

In [446]:
rfc = RandomForestClassifier(n_jobs=-1, random_state = 42,
                             n_estimators=500, 
                             max_features='auto',
                             min_samples_leaf=2,
                             criterion = 'entropy')

rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=-1, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [447]:
y_pred = rfc.predict(X_test)
try:
    scores = rfc.decision_function(X_test)
except:
    scores = rfc.predict_proba(X_test)[:,1]

print(confusion_matrix(y_test,y_pred))

print(roc_auc_score(y_test,scores))

[[4600    3]
 [ 680    9]]
0.6353316935033536

In [448]:
from xgboost import XGBClassifier
xgb = XGBClassifier(random_state = 42, n_jobs = -1)
xgb.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [449]:
y_pred = xgb.predict(X_test)
try:
    scores = xgb.decision_function(X_test)
except:
    scores = xgb.predict_proba(X_test)[:,1]
#Make plots

print(confusion_matrix(y_test,y_pred))

print(roc_auc_score(y_test,scores))

[[4603    0]
 [ 687    2]]
0.6422062723654385

In [450]:
fraud_ratio=y_train.value_counts()[1]/y_train.value_counts()[0]
optimized_GBM = XGBClassifier(n_jobs=-1, random_state = 42,
                             n_estimators=100, 
                             max_depth=7,
                             min_child_weight=2,
                             criterion = 'entropy')
optimized_GBM.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, criterion='entropy',
              gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=7,
              min_child_weight=2, missing=None, n_estimators=100, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [451]:
y_pred = optimized_GBM.predict(X_test)
try:
    scores = optimized_GBM.decision_function(X_test)
except:
    scores = optimized_GBM.predict_proba(X_test)[:,1]

print(confusion_matrix(y_test,y_pred))

print(roc_auc_score(y_test,scores))

[[4582   21]
 [ 679   10]]
0.6252573335935704

In [452]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Fitting SVM to the Training set
from sklearn.svm import OneClassSVM
classifier = OneClassSVM(kernel="rbf")
classifier.fit(X_train, y_train)

OneClassSVM(cache_size=200, coef0=0.0, degree=3, gamma='scale', kernel='rbf',
            max_iter=-1, nu=0.5, shrinking=True, tol=0.001, verbose=False)

In [453]:
y_pred = classifier.predict(X_test)
y_pred = np.array([y==-1 for y in y_pred])

try:
    scores = classifier.decision_function(X_test)
except:
    scores = classifier.predict_proba(X_test)[:,1]

print(confusion_matrix(y_test,y_pred))

print(roc_auc_score(y_test,scores))

[[2267 2336]
 [ 372  317]]
0.5146020753171955

In [454]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_res, y_res = smote.fit_sample(X, y)

X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size = 0.25, random_state = 42)

#fit the best models so far
xgb.fit(X_train, y_train)
rfc.fit(X_train, y_train)

#Make predictions
print('Classification of SMOTE-resampled dataset with XGboost')
y_pred = xgb.predict(X_test)
try:
    scores = xgb.decision_function(X_test)
except:
    scores = xgb.predict_proba(X_test)[:,1]
#Make plots
y_pred = xgb.predict(X_test)

print(confusion_matrix(y_test,y_pred))

print(roc_auc_score(y_test,scores))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

Classification of SMOTE-resampled dataset with XGboost
[[3778   97]
 [ 684 3100]]
0.9363067926072428

In [455]:
print('Classification of SMOTE-resampled dataset with optimized RF')
y_pred = rfc.predict(X_test)
try:
    scores = rfc.decision_function(X_test)
except:
    scores = rfc.predict_proba(X_test)[:,1]
    
print(confusion_matrix(y_test,y_pred))

print(roc_auc_score(y_test,scores))

Classification of SMOTE-resampled dataset with optimized RF
[[3828   47]
 [ 592 3192]]
0.9485436131760212

In [456]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam

NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(28, activation='relu',input_dim = X_train.shape[1]))

# The Hidden Layers :
NN_model.add(Dense(28,activation='relu'))
NN_model.add(Dense(28,activation='relu'))
NN_model.add(Dense(28,activation='relu'))


# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='sigmoid'))

# Compile the network :
NN_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
NN_model.summary()

import tensorflow as tf

es = tf.keras.callbacks.EarlyStopping(monitor = 'val_loss', patience =10, mode='min')

NN_model.fit(X_train, y_train, epochs=500, validation_split = 0.2, callbacks=[es],batch_size=None)

scores = NN_model.predict(X_test)

y_pred = NN_model.predict_classes(X_test)

#scores

print(confusion_matrix(y_test,y_pred))
#plot_aucprc(pre, scores)

print(roc_auc_score(y_test,scores))

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 28)                812
_________________________________________________________________
dense_11 (Dense)             (None, 28)                812
_________________________________________________________________
dense_12 (Dense)             (None, 28)                812
_________________________________________________________________
dense_13 (Dense)             (None, 28)                812
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 29
=================================================================
Total params: 3,277
Trainable params: 3,277
Non-trainable params: 0
_________________________________________________________________
Epoch 1/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6844 - acc: 0.5632 - val_loss: 0.6745 - val_acc: 0.5843
Epoch 2/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6703 - acc: 0.5878 - val_loss: 0.6763 - val_acc: 0.5926
Epoch 3/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6651 - acc: 0.5962 - val_loss: 0.6703 - val_acc: 0.5843
Epoch 4/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6593 - acc: 0.6033 - val_loss: 0.6618 - val_acc: 0.6072
Epoch 5/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6563 - acc: 0.6081 - val_loss: 0.6579 - val_acc: 0.6174
Epoch 6/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6535 - acc: 0.6136 - val_loss: 0.6665 - val_acc: 0.5946
Epoch 7/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6506 - acc: 0.6184 - val_loss: 0.6553 - val_acc: 0.6183
Epoch 8/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6459 - acc: 0.6247 - val_loss: 0.6566 - val_acc: 0.6087
Epoch 9/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6419 - acc: 0.6247 - val_loss: 0.6473 - val_acc: 0.6248
Epoch 10/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6349 - acc: 0.6367 - val_loss: 0.6420 - val_acc: 0.6337
Epoch 11/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6274 - acc: 0.6445 - val_loss: 0.6341 - val_acc: 0.6450
Epoch 12/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6146 - acc: 0.6598 - val_loss: 0.6190 - val_acc: 0.6531
Epoch 13/500
575/575 [==============================] - 2s 3ms/step - loss: 0.6029 - acc: 0.6644 - val_loss: 0.6159 - val_acc: 0.6503
Epoch 14/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5915 - acc: 0.6749 - val_loss: 0.6074 - val_acc: 0.6542
Epoch 15/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5800 - acc: 0.6845 - val_loss: 0.5896 - val_acc: 0.6703
Epoch 16/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5726 - acc: 0.6893 - val_loss: 0.5845 - val_acc: 0.6812
Epoch 17/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5638 - acc: 0.6954 - val_loss: 0.5855 - val_acc: 0.6690
Epoch 18/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5623 - acc: 0.6921 - val_loss: 0.5926 - val_acc: 0.6594
Epoch 19/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5518 - acc: 0.7045 - val_loss: 0.5890 - val_acc: 0.6688
Epoch 20/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5503 - acc: 0.7043 - val_loss: 0.5782 - val_acc: 0.6814
Epoch 21/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5431 - acc: 0.7053 - val_loss: 0.5781 - val_acc: 0.6794
Epoch 22/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5416 - acc: 0.7083 - val_loss: 0.5655 - val_acc: 0.6855
Epoch 23/500
575/575 [==============================] - 2s 4ms/step - loss: 0.5366 - acc: 0.7099 - val_loss: 0.5624 - val_acc: 0.6918
Epoch 24/500
575/575 [==============================] - 2s 4ms/step - loss: 0.5347 - acc: 0.7136 - val_loss: 0.5567 - val_acc: 0.6847
Epoch 25/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5293 - acc: 0.7190 - val_loss: 0.5493 - val_acc: 0.6975
Epoch 26/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5286 - acc: 0.7177 - val_loss: 0.5770 - val_acc: 0.6788
Epoch 27/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5273 - acc: 0.7154 - val_loss: 0.5474 - val_acc: 0.7060
Epoch 28/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5204 - acc: 0.7216 - val_loss: 0.5475 - val_acc: 0.6973
Epoch 29/500
575/575 [==============================] - 2s 4ms/step - loss: 0.5238 - acc: 0.7182 - val_loss: 0.5586 - val_acc: 0.6884
Epoch 30/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5232 - acc: 0.7213 - val_loss: 0.5547 - val_acc: 0.6984
Epoch 31/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5159 - acc: 0.7261 - val_loss: 0.5426 - val_acc: 0.7032
Epoch 32/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5135 - acc: 0.7272 - val_loss: 0.5560 - val_acc: 0.6968
Epoch 33/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5153 - acc: 0.7273 - val_loss: 0.5639 - val_acc: 0.6927
Epoch 34/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5097 - acc: 0.7304 - val_loss: 0.5340 - val_acc: 0.7116
Epoch 35/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5054 - acc: 0.7335 - val_loss: 0.5393 - val_acc: 0.7173
Epoch 36/500
575/575 [==============================] - 2s 3ms/step - loss: 0.5080 - acc: 0.7321 - val_loss: 0.5272 - val_acc: 0.7177
Epoch 37/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4996 - acc: 0.7363 - val_loss: 0.5289 - val_acc: 0.7190
Epoch 38/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4964 - acc: 0.7388 - val_loss: 0.5435 - val_acc: 0.7034
Epoch 39/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4952 - acc: 0.7433 - val_loss: 0.5390 - val_acc: 0.7032
Epoch 40/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4918 - acc: 0.7449 - val_loss: 0.5338 - val_acc: 0.7132
Epoch 41/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4879 - acc: 0.7458 - val_loss: 0.5510 - val_acc: 0.6973
Epoch 42/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4853 - acc: 0.7480 - val_loss: 0.5267 - val_acc: 0.7254
Epoch 43/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4790 - acc: 0.7542 - val_loss: 0.5525 - val_acc: 0.7032
Epoch 44/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4798 - acc: 0.7546 - val_loss: 0.5208 - val_acc: 0.7193
Epoch 45/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4764 - acc: 0.7502 - val_loss: 0.5146 - val_acc: 0.7227
Epoch 46/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4746 - acc: 0.7524 - val_loss: 0.5117 - val_acc: 0.7275
Epoch 47/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4713 - acc: 0.7561 - val_loss: 0.5085 - val_acc: 0.7277
Epoch 48/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4760 - acc: 0.7515 - val_loss: 0.5248 - val_acc: 0.7199
Epoch 49/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4704 - acc: 0.7567 - val_loss: 0.5256 - val_acc: 0.7145
Epoch 50/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4633 - acc: 0.7614 - val_loss: 0.5627 - val_acc: 0.7088
Epoch 51/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4660 - acc: 0.7579 - val_loss: 0.5218 - val_acc: 0.7280
Epoch 52/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4656 - acc: 0.7585 - val_loss: 0.5433 - val_acc: 0.7038
Epoch 53/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4598 - acc: 0.7644 - val_loss: 0.5509 - val_acc: 0.7225
Epoch 54/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4601 - acc: 0.7637 - val_loss: 0.5025 - val_acc: 0.7332
Epoch 55/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4595 - acc: 0.7603 - val_loss: 0.5209 - val_acc: 0.7304
Epoch 56/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4583 - acc: 0.7633 - val_loss: 0.5104 - val_acc: 0.7304
Epoch 57/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4552 - acc: 0.7664 - val_loss: 0.5175 - val_acc: 0.7328
Epoch 58/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4568 - acc: 0.7646 - val_loss: 0.5014 - val_acc: 0.7399
Epoch 59/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4501 - acc: 0.7698 - val_loss: 0.5446 - val_acc: 0.7177
Epoch 60/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4526 - acc: 0.7694 - val_loss: 0.5199 - val_acc: 0.7188
Epoch 61/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4499 - acc: 0.7707 - val_loss: 0.5126 - val_acc: 0.7280
Epoch 62/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4435 - acc: 0.7764 - val_loss: 0.5257 - val_acc: 0.7308
Epoch 63/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4470 - acc: 0.7715 - val_loss: 0.5224 - val_acc: 0.7256
Epoch 64/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4398 - acc: 0.7757 - val_loss: 0.5054 - val_acc: 0.7397
Epoch 65/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4408 - acc: 0.7758 - val_loss: 0.5078 - val_acc: 0.7369
Epoch 66/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4401 - acc: 0.7757 - val_loss: 0.5029 - val_acc: 0.7365
Epoch 67/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4403 - acc: 0.7748 - val_loss: 0.5008 - val_acc: 0.7410
Epoch 68/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4417 - acc: 0.7762 - val_loss: 0.4915 - val_acc: 0.7439
Epoch 69/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4415 - acc: 0.7724 - val_loss: 0.5290 - val_acc: 0.7254
Epoch 70/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4345 - acc: 0.7797 - val_loss: 0.5070 - val_acc: 0.7388
Epoch 71/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4369 - acc: 0.7740 - val_loss: 0.5068 - val_acc: 0.7380
Epoch 72/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4332 - acc: 0.7768 - val_loss: 0.5118 - val_acc: 0.7406
Epoch 73/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4335 - acc: 0.7799 - val_loss: 0.4959 - val_acc: 0.7365
Epoch 74/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4331 - acc: 0.7805 - val_loss: 0.4941 - val_acc: 0.7460
Epoch 75/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4314 - acc: 0.7817 - val_loss: 0.5057 - val_acc: 0.7382
Epoch 76/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4267 - acc: 0.7829 - val_loss: 0.5031 - val_acc: 0.7380
Epoch 77/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4263 - acc: 0.7810 - val_loss: 0.4953 - val_acc: 0.7345
Epoch 78/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4284 - acc: 0.7816 - val_loss: 0.4911 - val_acc: 0.7493
Epoch 79/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4255 - acc: 0.7833 - val_loss: 0.5057 - val_acc: 0.7378
Epoch 80/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4296 - acc: 0.7845 - val_loss: 0.5396 - val_acc: 0.7258
Epoch 81/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4301 - acc: 0.7791 - val_loss: 0.4925 - val_acc: 0.7462
Epoch 82/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4282 - acc: 0.7808 - val_loss: 0.4898 - val_acc: 0.7510
Epoch 83/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4222 - acc: 0.7868 - val_loss: 0.4885 - val_acc: 0.7508
Epoch 84/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4189 - acc: 0.7842 - val_loss: 0.5141 - val_acc: 0.7386
Epoch 85/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4208 - acc: 0.7887 - val_loss: 0.4964 - val_acc: 0.7452
Epoch 86/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4189 - acc: 0.7862 - val_loss: 0.4935 - val_acc: 0.7499
Epoch 87/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4171 - acc: 0.7893 - val_loss: 0.5283 - val_acc: 0.7227
Epoch 88/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4176 - acc: 0.7867 - val_loss: 0.5114 - val_acc: 0.7486
Epoch 89/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4233 - acc: 0.7850 - val_loss: 0.5124 - val_acc: 0.7362
Epoch 90/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4169 - acc: 0.7882 - val_loss: 0.5006 - val_acc: 0.7491
Epoch 91/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4166 - acc: 0.7905 - val_loss: 0.4978 - val_acc: 0.7434
Epoch 92/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4173 - acc: 0.7909 - val_loss: 0.4811 - val_acc: 0.7556
Epoch 93/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4136 - acc: 0.7896 - val_loss: 0.4896 - val_acc: 0.7526
Epoch 94/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4176 - acc: 0.7868 - val_loss: 0.4885 - val_acc: 0.7547
Epoch 95/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4099 - acc: 0.7946 - val_loss: 0.5161 - val_acc: 0.7404
Epoch 96/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4131 - acc: 0.7921 - val_loss: 0.4979 - val_acc: 0.7471
Epoch 97/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4137 - acc: 0.7892 - val_loss: 0.4958 - val_acc: 0.7454
Epoch 98/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4111 - acc: 0.7908 - val_loss: 0.4972 - val_acc: 0.7491
Epoch 99/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4095 - acc: 0.7930 - val_loss: 0.5007 - val_acc: 0.7469
Epoch 100/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4087 - acc: 0.7922 - val_loss: 0.5011 - val_acc: 0.7465
Epoch 101/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4075 - acc: 0.7941 - val_loss: 0.4874 - val_acc: 0.7504
Epoch 102/500
575/575 [==============================] - 2s 3ms/step - loss: 0.4086 - acc: 0.7925 - val_loss: 0.4961 - val_acc: 0.7515
[[3060  815]
 [1023 2761]]
0.8479263111232355

In [458]:
!pip3 install catboost
from catboost import CatBoostClassifier

model = CatBoostClassifier(n_estimators=100)
model.fit(X_train,y_train,verbose=True)

predict_test = model.predict_proba(X_test)[:,1]

print(roc_auc_score(y_test,predict_test))

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/b1/61/2b8106c8870601671d99ca94d8b8d180f2b740b7cdb95c930147508abcf9/catboost-0.23-cp36-none-manylinux1_x86_64.whl (64.7MB)
     |████████████████████████████████| 64.8MB 49kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.3)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Installing collected packages: catboost
Successfully installed catboost-0.23
Learning rate set to 0.324482
0:	learn: 0.5319181	total: 68.7ms	remaining: 6.8s
1:	learn: 0.4415615	total: 86.3ms	remaining: 4.23s
2:	learn: 0.4010206	total: 104ms	remaining: 3.35s
3:	learn: 0.3562953	total: 121ms	remaining: 2.91s
4:	learn: 0.3364077	total: 139ms	remaining: 2.64s
5:	learn: 0.3269482	total: 156ms	remaining: 2.44s
6:	learn: 0.3041974	total: 174ms	remaining: 2.31s
7:	learn: 0.2963291	total: 193ms	remaining: 2.22s
8:	learn: 0.2869074	total: 217ms	remaining: 2.19s
9:	learn: 0.2841962	total: 235ms	remaining: 2.11s
10:	learn: 0.2829273	total: 252ms	remaining: 2.04s
11:	learn: 0.2803236	total: 269ms	remaining: 1.98s
12:	learn: 0.2748646	total: 287ms	remaining: 1.92s
13:	learn: 0.2718675	total: 305ms	remaining: 1.87s
14:	learn: 0.2709721	total: 321ms	remaining: 1.82s
15:	learn: 0.2678561	total: 339ms	remaining: 1.78s
16:	learn: 0.2666281	total: 357ms	remaining: 1.74s
17:	learn: 0.2650877	total: 376ms	remaining: 1.71s
18:	learn: 0.2641170	total: 393ms	remaining: 1.67s
19:	learn: 0.2622117	total: 409ms	remaining: 1.64s
20:	learn: 0.2603462	total: 430ms	remaining: 1.62s
21:	learn: 0.2592693	total: 449ms	remaining: 1.59s
22:	learn: 0.2584616	total: 468ms	remaining: 1.57s
23:	learn: 0.2577125	total: 486ms	remaining: 1.54s
24:	learn: 0.2566563	total: 506ms	remaining: 1.52s
25:	learn: 0.2558550	total: 524ms	remaining: 1.49s
26:	learn: 0.2545438	total: 542ms	remaining: 1.47s
27:	learn: 0.2540563	total: 561ms	remaining: 1.44s
28:	learn: 0.2535126	total: 584ms	remaining: 1.43s
29:	learn: 0.2529917	total: 601ms	remaining: 1.4s
30:	learn: 0.2524079	total: 617ms	remaining: 1.37s
31:	learn: 0.2508364	total: 638ms	remaining: 1.36s
32:	learn: 0.2498846	total: 663ms	remaining: 1.34s
33:	learn: 0.2488594	total: 680ms	remaining: 1.32s
34:	learn: 0.2465507	total: 701ms	remaining: 1.3s
35:	learn: 0.2447542	total: 718ms	remaining: 1.28s
36:	learn: 0.2438694	total: 736ms	remaining: 1.25s
37:	learn: 0.2430761	total: 755ms	remaining: 1.23s
38:	learn: 0.2418841	total: 773ms	remaining: 1.21s
39:	learn: 0.2399611	total: 789ms	remaining: 1.18s
40:	learn: 0.2388559	total: 807ms	remaining: 1.16s
41:	learn: 0.2377774	total: 824ms	remaining: 1.14s
42:	learn: 0.2359566	total: 845ms	remaining: 1.12s
43:	learn: 0.2347151	total: 863ms	remaining: 1.1s
44:	learn: 0.2339967	total: 882ms	remaining: 1.08s
45:	learn: 0.2332482	total: 900ms	remaining: 1.06s
46:	learn: 0.2326866	total: 919ms	remaining: 1.04s
47:	learn: 0.2318138	total: 937ms	remaining: 1.01s
48:	learn: 0.2306883	total: 954ms	remaining: 993ms
49:	learn: 0.2296619	total: 973ms	remaining: 973ms
50:	learn: 0.2280356	total: 992ms	remaining: 953ms
51:	learn: 0.2275607	total: 1.01s	remaining: 931ms
52:	learn: 0.2269073	total: 1.02s	remaining: 910ms
53:	learn: 0.2258256	total: 1.04s	remaining: 888ms
54:	learn: 0.2252075	total: 1.06s	remaining: 871ms
55:	learn: 0.2242369	total: 1.08s	remaining: 852ms
56:	learn: 0.2236109	total: 1.1s	remaining: 832ms
57:	learn: 0.2227916	total: 1.12s	remaining: 813ms
58:	learn: 0.2222445	total: 1.14s	remaining: 793ms
59:	learn: 0.2211915	total: 1.16s	remaining: 774ms
60:	learn: 0.2206310	total: 1.18s	remaining: 754ms
61:	learn: 0.2199778	total: 1.2s	remaining: 734ms
62:	learn: 0.2192727	total: 1.21s	remaining: 713ms
63:	learn: 0.2185880	total: 1.23s	remaining: 693ms
64:	learn: 0.2174937	total: 1.25s	remaining: 674ms
65:	learn: 0.2168525	total: 1.27s	remaining: 655ms
66:	learn: 0.2162602	total: 1.29s	remaining: 636ms
67:	learn: 0.2155068	total: 1.31s	remaining: 616ms
68:	learn: 0.2148264	total: 1.32s	remaining: 596ms
69:	learn: 0.2140404	total: 1.34s	remaining: 575ms
70:	learn: 0.2133540	total: 1.36s	remaining: 556ms
71:	learn: 0.2127742	total: 1.38s	remaining: 537ms
72:	learn: 0.2118654	total: 1.4s	remaining: 517ms
73:	learn: 0.2111947	total: 1.41s	remaining: 497ms
74:	learn: 0.2102374	total: 1.43s	remaining: 477ms
75:	learn: 0.2097241	total: 1.45s	remaining: 458ms
76:	learn: 0.2093143	total: 1.47s	remaining: 438ms
77:	learn: 0.2086098	total: 1.49s	remaining: 419ms
78:	learn: 0.2080471	total: 1.5s	remaining: 400ms
79:	learn: 0.2074098	total: 1.52s	remaining: 380ms
80:	learn: 0.2068709	total: 1.54s	remaining: 361ms
81:	learn: 0.2064407	total: 1.55s	remaining: 341ms
82:	learn: 0.2060174	total: 1.58s	remaining: 323ms
83:	learn: 0.2056424	total: 1.6s	remaining: 305ms
84:	learn: 0.2049889	total: 1.62s	remaining: 286ms
85:	learn: 0.2046772	total: 1.64s	remaining: 267ms
86:	learn: 0.2040498	total: 1.67s	remaining: 249ms
87:	learn: 0.2033340	total: 1.69s	remaining: 231ms
88:	learn: 0.2027984	total: 1.71s	remaining: 211ms
89:	learn: 0.2026065	total: 1.73s	remaining: 192ms
90:	learn: 0.2020285	total: 1.74s	remaining: 173ms
91:	learn: 0.2015085	total: 1.76s	remaining: 153ms
92:	learn: 0.2010300	total: 1.78s	remaining: 134ms
93:	learn: 0.2007845	total: 1.8s	remaining: 115ms
94:	learn: 0.2002107	total: 1.81s	remaining: 95.5ms
95:	learn: 0.1995570	total: 1.83s	remaining: 76.3ms
96:	learn: 0.1989688	total: 1.85s	remaining: 57.2ms
97:	learn: 0.1987068	total: 1.87s	remaining: 38.1ms
98:	learn: 0.1982334	total: 1.88s	remaining: 19ms
99:	learn: 0.1976523	total: 1.91s	remaining: 0us
0.9427747732387641

##Test Data

In [459]:
dft  = pd.read_csv('/content/drive/My Drive/test_1.csv')
dft.head()

   enrollee_id      city  ...  last_new_job training_hours
0        16548   city_33  ...           NaN             15
1        12036   city_28  ...             1             94
2        11061  city_103  ...             1             17
3         5032  city_104  ...             2             76
4        17599   city_77  ...             2             65

[5 rows x 13 columns]

In [460]:
dft.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    3388
relevent_experience          0
enrolled_university        279
education_level            395
major_discipline          2393
experience                  44
company_size              4051
company_type              4330
last_new_job               304
training_hours               0
dtype: int64

In [0]:
dft['experience'] = dft['experience'].apply(lambda x : check(x))

In [0]:
dft['experience'] = dft['experience'].apply(lambda x : convertint(x))

In [0]:
tempdf = dft[['relevent_experience','experience']]

In [0]:
tempdf = tempdf.dropna()

dft['experience'] = dft.apply(lambda x : update(x['experience'],x['relevent_experience']), axis= 1)

In [465]:
dft.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    3388
relevent_experience          0
enrolled_university        279
education_level            395
major_discipline          2393
experience                   0
company_size              4051
company_type              4330
last_new_job               304
training_hours               0
dtype: int64

In [466]:
appenddf = pd.get_dummies(dft['relevent_experience'])
appenddf = appenddf[['Has relevent experience']]
appenddf.head()

dft = pd.concat([dft.drop('relevent_experience',axis=1),appenddf], axis=1)

dft.head()

dft['last_new_job'] = dft['last_new_job'].apply(lambda x : check1(x))

dft['last_new_job'] = dft['last_new_job'].apply(lambda x : convertint1(x))

X = dft[['city_development_index','experience','Has relevent experience','last_new_job']]
X.head()

nullindexlist=X[X['last_new_job'].isnull()].index.tolist()

pd.DataFrame(X.iloc[nullindexlist[0]]).transpose()
predictdf = pd.DataFrame(columns=['city_development_index','experience', 'Has relevent experience','last_new_job'])

for num in nullindexlist:
    predictdf = pd.concat([predictdf,pd.DataFrame(X.iloc[num]).transpose()],sort=False)

predictdf.drop('last_new_job',axis=1,inplace=True)

newX = X.dropna()

variable = newX.drop('last_new_job',axis=1)
target = newX['last_new_job']

lr = LinearRegression()

lr.fit(variable,target)


ans = pd.DataFrame(lr.predict(predictdf),columns=['last_new_job'])

for i,num in enumerate(nullindexlist):
    dft['last_new_job'].iloc[num] = ans.iloc[i].values

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [467]:
dft.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     3388
enrolled_university         279
education_level             395
major_discipline           2393
experience                    0
company_size               4051
company_type               4330
last_new_job                  0
training_hours                0
Has relevent experience       0
dtype: int64

In [0]:
tempdf = dft[['enrolled_university','education_level']]

tempdf = tempdf.dropna()

appenddf = pd.get_dummies(tempdf['enrolled_university'])
appenddf.head()

tempdf = pd.concat([tempdf.drop('enrolled_university',axis=1),appenddf], axis=1)

appenddf = pd.get_dummies(tempdf['education_level'])
appenddf.head()

tempdf = pd.concat([tempdf.drop('education_level',axis=1),appenddf], axis=1)

dft['enrolled_university'] = dft.apply(lambda x : puttype(x['enrolled_university'],x['education_level']),axis=1)
dft['education_level'] = dft.apply(lambda x : putedulevel(x['education_level'],x['enrolled_university']),axis=1)

In [469]:
dft.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     3388
enrolled_university           0
education_level               0
major_discipline           2393
experience                    0
company_size               4051
company_type               4330
last_new_job                  0
training_hours                0
Has relevent experience       0
dtype: int64

In [0]:
dft['major_discipline'] = dft.apply(lambda x : applymajor(x['education_level'],x['major_discipline']),axis=1)

In [471]:
dft.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     3388
enrolled_university           0
education_level               0
major_discipline              0
experience                    0
company_size               4051
company_type               4330
last_new_job                  0
training_hours                0
Has relevent experience       0
dtype: int64

In [0]:
dft['company_type'] = dft.apply(lambda x : applycomtype(x['company_type']),axis=1)
dft['company_size'] = dft.apply(lambda x : applycomsize(x['company_type'], x['company_size']),axis=1)

In [473]:
dft.isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     3388
enrolled_university           0
education_level               0
major_discipline              0
experience                    0
company_size                  0
company_type                  0
last_new_job                  0
training_hours                0
Has relevent experience       0
dtype: int64

In [474]:
appenddf = pd.get_dummies(dft['enrolled_university'])


dft = pd.concat([dft.drop('enrolled_university',axis=1),appenddf], axis=1)

dft.head()

dft.drop('Full time course',inplace = True,axis=1)
appenddf = pd.get_dummies(dft['education_level'],drop_first=True)


dft = pd.concat([dft.drop('education_level',axis=1),appenddf], axis=1)

dft.head()

appenddf = pd.get_dummies(dft['major_discipline'],drop_first=True)


dft = pd.concat([dft.drop('major_discipline',axis=1),appenddf], axis=1)

dft.head()

appenddf = pd.get_dummies(dft['company_size'],drop_first=True)


dft = pd.concat([dft.drop('company_size',axis=1),appenddf], axis=1)

dft.head()

appenddf = pd.get_dummies(dft['company_type'],drop_first=True)


dft = pd.concat([dft.drop('company_type',axis=1),appenddf], axis=1)

dft.head()

   enrollee_id      city  city_development_index  ... Other  Public Sector  Pvt Ltd
0        16548   city_33                   0.448  ...     0              1        0
1        12036   city_28                   0.939  ...     0              0        1
2        11061  city_103                   0.920  ...     0              0        1
3         5032  city_104                   0.924  ...     0              0        1
4        17599   city_77                   0.830  ...     0              0        1

[5 rows x 31 columns]

In [0]:
X = dft.drop(['gender','city','enrollee_id'],axis=1)

X.columns = ['city_development_index', 'experience', 'last_new_job',
       'training_hours', 'Has relevent experience', 'Part time course',
       'no_enrollment', 'High School', 'Masters', 'Phd', 'Primary School',
       'Business Degree', 'Humanities', 'No Major', 'Otherstudies', 'STEM', '100-500',
       '1000-4999', '10000+', '50-99', '500-999', '5000-9999', '10',
       'Funded Startup', 'NGO', 'Other', 'Public Sector', 'Pvt Ltd']

##Making Submission file

In [0]:
predictionstest = rfc.predict_proba(X)[:,1]#predict with models

In [0]:
submission = pd.DataFrame(predictionstest,columns=['target'])

finalsubmission = pd.concat([dft[['enrollee_id']],submission],axis=1)

finalsubmission.to_csv('/content/drive/My Drive/submission_rfc.csv',index=False)

In [0]:
predictionstest = model.predict_proba(X)[:,1]

In [0]:
submission = pd.DataFrame(predictionstest,columns=['target'])

finalsubmission = pd.concat([dft[['enrollee_id']],submission],axis=1)

finalsubmission.to_csv('/content/drive/My Drive/submission_cb.csv',index=False)

In [0]:
predictionstest = NN_model.predict(X)

In [0]:
submission = pd.DataFrame(predictionstest,columns=['target'])

finalsubmission = pd.concat([dft[['enrollee_id']],submission],axis=1)

finalsubmission.to_csv('/content/drive/My Drive/submission_nn.csv',index=False)

In [484]:
dff = pd.read_csv('/content/drive/My Drive/submission_nn.csv')
dff.head()

   enrollee_id    target
0        16548  0.870258
1        12036  0.132636
2        11061  0.634482
3         5032  0.044356
4        17599  0.762552

In [485]:
dff = pd.read_csv('/content/drive/My Drive/submission_cb.csv')
dff.head()

   enrollee_id    target
0        16548  0.993493
1        12036  0.091968
2        11061  0.439262
3         5032  0.062683
4        17599  0.204151

In [489]:
dff = pd.read_csv('/content/drive/My Drive/submission_rfc.csv')
dff.head()

   enrollee_id    target
0        16548  0.636654
1        12036  0.053869
2        11061  0.368143
3         5032  0.081416
4        17599  0.271489