In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')
df.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.90500,0,40.0,46,60,Female,2
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.45000,0,38.0,56,78,Male,2
2,T0005689464,41.58,NaN,10.0,NaN,NaN,E,3.50125,2,NaN,56,77,Male,2
3,T0005689465,61.56,C,10.0,NaN,NaN,A,3.45375,0,NaN,52,74,Male,3
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.40250,4,51.0,49,102,Male,2

In [3]:
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months           5920
Life_Style_Index               20193
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           71030
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131662 entries, 0 to 131661
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Trip_ID                      131662 non-null  object
 1   Trip_Distance                131662 non-null  float64
 2   Type_of_Cab                  111452 non-null  object
 3   Customer_Since_Months        125742 non-null  float64
 4   Life_Style_Index             111469 non-null  float64
 5   Confidence_Life_Style_Index  111469 non-null  object
 6   Destination_Type             131662 non-null  object
 7   Customer_Rating              131662 non-null  float64
 8   Cancellation_Last_1Month     131662 non-null  int64
 9   Var1                         60632 non-null   float64
 10  Var2                         131662 non-null  int64
 11  Var3                         131662 non-null  int64
 12  Gender                       131662 non-null  object
 13  Surge_Pricing_Type           131662 non-null  int64
dtypes: float64(5), int64(4), object(5)
memory usage: 14.1+ MB

In [5]:
df['Type_of_Cab'].value_counts()

B    31136
C    28122
A    21569
D    18991
E    11634
Name: Type_of_Cab, dtype: int64

In [6]:
df['Surge_Pricing_Type'].value_counts()

2    56728
3    47720
1    27214
Name: Surge_Pricing_Type, dtype: int64

In [7]:
df['Customer_Rating'].value_counts()

2.75000    122
3.50000    120
3.35000    116
2.60000    112
3.20000    109
          ...
4.94875      1
0.14500      1
0.12375      1
0.60500      1
0.03125      1
Name: Customer_Rating, Length: 3931, dtype: int64

In [8]:
temp = df.dropna()

In [9]:
temp.isnull().sum()

Trip_ID                        0
Trip_Distance                  0
Type_of_Cab                    0
Customer_Since_Months          0
Life_Style_Index               0
Confidence_Life_Style_Index    0
Destination_Type               0
Customer_Rating                0
Cancellation_Last_1Month       0
Var1                           0
Var2                           0
Var3                           0
Gender                         0
Surge_Pricing_Type             0
dtype: int64

In [ ]:
appendvr2testdf = pd.get_dummies(temp['Type_of_Cab'],drop_first=True)
temp = pd.concat([temp.drop('Type_of_Cab',axis=1),appendvr2testdf], axis=1)

temp.head()

In [ ]:
appendvr2testdf = pd.get_dummies(temp['Confidence_Life_Style_Index'],drop_first=True)
temp = pd.concat([temp.drop('Confidence_Life_Style_Index',axis=1),appendvr2testdf], axis=1)
appendvr2testdf = pd.get_dummies(temp['Destination_Type'],drop_first=True)
temp = pd.concat([temp.drop('Destination_Type',axis=1),appendvr2testdf], axis=1)
appendvr2testdf = pd.get_dummies(temp['Gender'],drop_first=True)
temp = pd.concat([temp.drop('Gender',axis=1),appendvr2testdf], axis=1)
temp.head()

In [ ]:
temp.corr()['Life_Style_Index']

In [10]:
X = temp[['Trip_Distance','Customer_Rating','Var2','Var3']]
y= temp['Life_Style_Index']

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
def lsi_miss(Var2,Var3,Trip_Distance,Customer_Rating,Life_Style_Index):
    if np.isnan(Life_Style_Index)==False:
        return Life_Style_Index
    else:
        X = np.array([Var2, Var3,Trip_Distance,Customer_Rating])
        X = X.reshape(1, -1)
        res = lr.predict(X)
        #print(res[0])
        return float(res[0])

In [12]:
df['Life_Style_Index'] = df.apply(lambda x : lsi_miss(x['Var2'], x['Var3'] , x['Trip_Distance'] , x['Customer_Rating'],x['Life_Style_Index']), axis= 1)
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months           5920
Life_Style_Index                   0
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           71030
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [13]:
(df['Life_Style_Index'][69])

7.408643553015134

In [14]:
tempdf = df.dropna()
tempdf.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.9050,0,40.0,46,60,Female,2
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.4500,0,38.0,56,78,Male,2
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.4025,4,51.0,49,102,Male,2
6,T0005689470,29.72,E,10.0,2.83958,C,B,2.9750,1,83.0,50,75,Male,2
7,T0005689472,18.44,B,2.0,2.81871,B,A,3.5825,0,103.0,46,63,Male,2

In [15]:
df['Customer_Since_Months'].value_counts()

10.0    42680
2.0     11621
3.0     10351
0.0     10169
5.0      8641
1.0      8297
4.0      7726
7.0      7407
6.0      7375
8.0      6328
9.0      5147
Name: Customer_Since_Months, dtype: int64

In [16]:
df['Customer_Since_Months'].fillna(10.0,inplace=True)

In [17]:
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months              0
Life_Style_Index                   0
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           71030
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [18]:
#df = df.drop('Var1',axis=1)
df['Var1'] = df['Var1'].fillna(df['Var1'].mean())

In [19]:
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months              0
Life_Style_Index                   0
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                               0
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [ ]:
df.groupby('Type_of_Cab').mean()

In [ ]:
sns.boxplot(x=tempdf['Type_of_Cab'],y=tempdf['Trip_Distance'])

In [20]:
X = tempdf[['Trip_Distance','Customer_Rating','Life_Style_Index','Cancellation_Last_1Month','Customer_Since_Months']]
y = tempdf['Type_of_Cab']

In [21]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X = sc.fit_transform(X)

In [ ]:
X[2]

In [22]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
def toc_miss(Trip_Distance,Customer_Rating,Life_Style_Index,Cancellation_Last_1Month,Customer_Since_Months,Type_of_Cab):
    if pd.isnull(Type_of_Cab) == False:
        return str(Type_of_Cab)
    else:
        res = logreg.predict([[Trip_Distance,Customer_Rating,Life_Style_Index,Cancellation_Last_1Month,Customer_Since_Months]])
        #print(res[0])
        return res[0]

In [24]:
scaled_features = df.copy()
col_names = ['Trip_Distance','Customer_Rating','Life_Style_Index','Cancellation_Last_1Month','Customer_Since_Months']
features = scaled_features[col_names]
scaler = StandardScaler().fit(features.values)
features = scaler.transform(features.values)

scaled_features[col_names] = features
scaled_features.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,-1.466568,B,-1.427705,-0.616808,A,A,1.076346,-0.754502,40.000000,46,60,Female,2
1,T0005689461,-0.577167,B,1.045336,-0.426190,B,A,0.612378,-0.754502,38.000000,56,78,Male,2
2,T0005689464,-0.102689,NaN,1.045336,2.382870,NaN,E,0.664638,1.173106,64.202698,56,77,Male,2
3,T0005689465,0.680141,C,1.045336,2.280343,NaN,A,0.616202,-0.754502,64.202698,52,74,Male,3
4,T0005689467,0.421157,C,1.045336,-0.290744,B,A,0.563942,3.100714,51.000000,49,102,Male,2

In [25]:
df['Type_of_Cab'] = scaled_features.apply(lambda x : toc_miss(x['Trip_Distance'], x['Customer_Rating'] , x['Life_Style_Index'],x['Cancellation_Last_1Month'], x['Customer_Since_Months'],x['Type_of_Cab']), axis= 1)
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                        0
Customer_Since_Months              0
Life_Style_Index                   0
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                               0
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [26]:
df['Type_of_Cab'].value_counts()

# B    31136
# C    28122
# A    21569
# D    18991
# E    11634

B    42707
C    35850
A    21603
D    19789
E    11713
Name: Type_of_Cab, dtype: int64

In [39]:
df = df.drop('Confidence_Life_Style_Index',axis = 1)

In [42]:
screal = StandardScaler()

In [27]:
testdf = pd.read_csv('test.csv')

In [28]:
testdf['Life_Style_Index'] = testdf.apply(lambda x : lsi_miss(x['Var2'], x['Var3'] , x['Trip_Distance'] , x['Customer_Rating'],x['Life_Style_Index']), axis= 1)
testdf.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    13158
Customer_Since_Months           3966
Life_Style_Index                   0
Confidence_Life_Style_Index    13327
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           46789
Var2                               0
Var3                               0
Gender                             0
dtype: int64

In [30]:
scaled_features_test = testdf.copy()
col_names = ['Trip_Distance','Customer_Rating','Life_Style_Index','Cancellation_Last_1Month','Customer_Since_Months']
features_test = scaled_features_test[col_names]
features_test = scaler.transform(features_test.values)

scaled_features_test[col_names] = features_test
scaled_features_test.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender
0,T0005689459,-1.361956,A,1.045336,-0.537989,A,B,0.846912,1.173106,NaN,46,63,Male
1,T0005689462,-0.472163,B,1.045336,-0.389126,A,A,-1.280457,-0.754502,65.0,49,80,Female
2,T0005689463,-1.325126,C,-0.603358,-0.467644,A,D,1.688172,-0.754502,NaN,47,74,Male
3,T0005689466,-1.146462,NaN,-0.053793,-0.587847,C,E,1.713664,-0.754502,63.0,43,54,Male
4,T0005689468,-0.476864,B,0.220989,-0.408174,A,K,1.786319,2.136910,96.0,44,56,Male

In [33]:
scaled_features_test['Customer_Since_Months'].value_counts()

 1.045336    28137
-1.152922     7824
-0.878140     6723
-1.702487     6716
-0.328575     5764
-1.427705     5668
-0.603358     5309
 0.220989     4925
-0.053793     4904
 0.495771     4197
 0.770554     3262
Name: Customer_Since_Months, dtype: int64

In [34]:
scaled_features_test['Customer_Since_Months'].fillna(1.045336,inplace=True)

In [35]:
testdf['Type_of_Cab'] = scaled_features_test.apply(lambda x : toc_miss(x['Trip_Distance'], x['Customer_Rating'] , x['Life_Style_Index'],x['Cancellation_Last_1Month'], x['Customer_Since_Months'],x['Type_of_Cab']), axis= 1)
testdf.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                        0
Customer_Since_Months           3966
Life_Style_Index                   0
Confidence_Life_Style_Index    13327
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           46789
Var2                               0
Var3                               0
Gender                             0
dtype: int64

In [36]:
testdf['Customer_Since_Months'].fillna(10.0,inplace=True)

In [37]:
testdf['Var1'] = testdf['Var1'].fillna(testdf['Var1'].mean())

In [41]:
testdf.isnull().sum()

Trip_ID                     0
Trip_Distance               0
Type_of_Cab                 0
Customer_Since_Months       0
Life_Style_Index            0
Destination_Type            0
Customer_Rating             0
Cancellation_Last_1Month    0
Var1                        0
Var2                        0
Var3                        0
Gender                      0
dtype: int64

In [40]:
testdf = testdf.drop('Confidence_Life_Style_Index',axis=1)

In [47]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87395 entries, 0 to 87394
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Trip_ID                   87395 non-null  object
 1   Trip_Distance             87395 non-null  float64
 2   Type_of_Cab               87395 non-null  object
 3   Customer_Since_Months     87395 non-null  float64
 4   Life_Style_Index          87395 non-null  float64
 5   Destination_Type          87395 non-null  object
 6   Customer_Rating           87395 non-null  float64
 7   Cancellation_Last_1Month  87395 non-null  int64
 8   Var1                      87395 non-null  float64
 9   Var2                      87395 non-null  int64
 10  Var3                      87395 non-null  int64
 11  Gender                    87395 non-null  object
dtypes: float64(5), int64(3), object(4)
memory usage: 8.0+ MB

In [46]:
combinedf = pd.concat([df,testdf],axis=0)
combinedf.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.427690,A,3.90500,0,40.000000,46,60,Female,2.0
1,T0005689461,29.47,B,10.0,2.782450,A,3.45000,0,38.000000,56,78,Male,2.0
2,T0005689464,41.58,B,10.0,8.010407,E,3.50125,2,64.202698,56,77,Male,2.0
3,T0005689465,61.56,C,10.0,7.819595,A,3.45375,0,64.202698,52,74,Male,3.0
4,T0005689467,54.95,C,10.0,3.034530,A,3.40250,4,51.000000,49,102,Male,2.0

In [49]:
#131662 + 87395 = 219057

combinedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219057 entries, 0 to 87394
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Trip_ID                   219057 non-null  object
 1   Trip_Distance             219057 non-null  float64
 2   Type_of_Cab               219057 non-null  object
 3   Customer_Since_Months     219057 non-null  float64
 4   Life_Style_Index          219057 non-null  float64
 5   Destination_Type          219057 non-null  object
 6   Customer_Rating           219057 non-null  float64
 7   Cancellation_Last_1Month  219057 non-null  int64
 8   Var1                      219057 non-null  float64
 9   Var2                      219057 non-null  int64
 10  Var3                      219057 non-null  int64
 11  Gender                    219057 non-null  object
 12  Surge_Pricing_Type        131662 non-null  float64
dtypes: float64(6), int64(3), object(4)
memory usage: 23.4+ MB

In [52]:
scaled_features_combined = combinedf.copy()
col_names = ['Trip_Distance','Customer_Rating','Life_Style_Index','Cancellation_Last_1Month','Customer_Since_Months','Var1','Var2','Var3']
features_combine = scaled_features_combined[col_names]
features_combine = screal.fit_transform(features_combine.values)

scaled_features_combined[col_names] = features_combine
scaled_features_combined.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,-1.465804,B,-1.424890,-0.616467,A,1.076720,-0.755533,-1.629876,-1.042638,-1.301007,Female,2.0
1,T0005689461,-0.575863,B,1.047783,-0.425869,A,0.612954,-0.755533,-1.765154,0.967620,0.253385,Male,2.0
2,T0005689464,-0.101097,B,1.047783,2.382891,E,0.665191,1.174518,0.007180,0.967620,0.167030,Male,2.0
3,T0005689465,0.682207,C,1.047783,2.280375,A,0.616776,-0.755533,0.007180,0.163517,-0.092035,Male,3.0
4,T0005689467,0.423066,C,1.047783,-0.290437,A,0.564539,3.104570,-0.885842,-0.439560,2.325909,Male,2.0

In [53]:
scaled_features_combined.isnull().sum()

Trip_ID                         0
Trip_Distance                   0
Type_of_Cab                     0
Customer_Since_Months           0
Life_Style_Index                0
Destination_Type                0
Customer_Rating                 0
Cancellation_Last_1Month        0
Var1                            0
Var2                            0
Var3                            0
Gender                          0
Surge_Pricing_Type          87395
dtype: int64

In [55]:
appenddf = pd.get_dummies(scaled_features_combined['Type_of_Cab'],drop_first=True)
scaled_features_combined = pd.concat([scaled_features_combined.drop('Type_of_Cab',axis=1),appenddf], axis=1)
appenddf = pd.get_dummies(scaled_features_combined['Destination_Type'],drop_first=True)
scaled_features_combined = pd.concat([scaled_features_combined.drop('Destination_Type',axis=1),appenddf], axis=1)
appenddf = pd.get_dummies(scaled_features_combined['Gender'],drop_first=True)
scaled_features_combined = pd.concat([scaled_features_combined.drop('Gender',axis=1),appenddf], axis=1)
scaled_features_combined.head()

,Trip_ID,Trip_Distance,Customer_Since_Months,Life_Style_Index,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Surge_Pricing_Type,...,F,G,H,I,J,K,L,M,N,Male
0,T0005689460,-1.465804,-1.424890,-0.616467,1.076720,-0.755533,-1.629876,-1.042638,-1.301007,2.0,...,0,0,0,0,0,0,0,0,0,0
1,T0005689461,-0.575863,1.047783,-0.425869,0.612954,-0.755533,-1.765154,0.967620,0.253385,2.0,...,0,0,0,0,0,0,0,0,0,1
2,T0005689464,-0.101097,1.047783,2.382891,0.665191,1.174518,0.007180,0.967620,0.167030,2.0,...,0,0,0,0,0,0,0,0,0,1
3,T0005689465,0.682207,1.047783,2.280375,0.616776,-0.755533,0.007180,0.163517,-0.092035,3.0,...,0,0,0,0,0,0,0,0,0,1
4,T0005689467,0.423066,1.047783,-0.290437,0.564539,3.104570,-0.885842,-0.439560,2.325909,2.0,...,0,0,0,0,0,0,0,0,0,1

In [56]:
scaled_features_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219057 entries, 0 to 87394
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Trip_ID                   219057 non-null  object
 1   Trip_Distance             219057 non-null  float64
 2   Customer_Since_Months     219057 non-null  float64
 3   Life_Style_Index          219057 non-null  float64
 4   Customer_Rating           219057 non-null  float64
 5   Cancellation_Last_1Month  219057 non-null  float64
 6   Var1                      219057 non-null  float64
 7   Var2                      219057 non-null  float64
 8   Var3                      219057 non-null  float64
 9   Surge_Pricing_Type        131662 non-null  float64
 10  B                         219057 non-null  uint8
 11  C                         219057 non-null  uint8
 12  D                         219057 non-null  uint8
 13  E                         219057 non-null  uint8
 14  B                         219057 non-null  uint8
 15  C                         219057 non-null  uint8
 16  D                         219057 non-null  uint8
 17  E                         219057 non-null  uint8
 18  F                         219057 non-null  uint8
 19  G                         219057 non-null  uint8
 20  H                         219057 non-null  uint8
 21  I                         219057 non-null  uint8
 22  J                         219057 non-null  uint8
 23  K                         219057 non-null  uint8
 24  L                         219057 non-null  uint8
 25  M                         219057 non-null  uint8
 26  N                         219057 non-null  uint8
 27  Male                      219057 non-null  uint8
dtypes: float64(9), object(1), uint8(18)
memory usage: 22.1+ MB

In [66]:
traindf = scaled_features_combined.iloc[:131662]
testdf = scaled_features_combined.iloc[131662:]

In [67]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87395 entries, 0 to 87394
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Trip_ID                   87395 non-null  object
 1   Trip_Distance             87395 non-null  float64
 2   Customer_Since_Months     87395 non-null  float64
 3   Life_Style_Index          87395 non-null  float64
 4   Customer_Rating           87395 non-null  float64
 5   Cancellation_Last_1Month  87395 non-null  float64
 6   Var1                      87395 non-null  float64
 7   Var2                      87395 non-null  float64
 8   Var3                      87395 non-null  float64
 9   Surge_Pricing_Type        0 non-null      float64
 10  B                         87395 non-null  uint8
 11  C                         87395 non-null  uint8
 12  D                         87395 non-null  uint8
 13  E                         87395 non-null  uint8
 14  B                         87395 non-null  uint8
 15  C                         87395 non-null  uint8
 16  D                         87395 non-null  uint8
 17  E                         87395 non-null  uint8
 18  F                         87395 non-null  uint8
 19  G                         87395 non-null  uint8
 20  H                         87395 non-null  uint8
 21  I                         87395 non-null  uint8
 22  J                         87395 non-null  uint8
 23  K                         87395 non-null  uint8
 24  L                         87395 non-null  uint8
 25  M                         87395 non-null  uint8
 26  N                         87395 non-null  uint8
 27  Male                      87395 non-null  uint8
dtypes: float64(9), object(1), uint8(18)
memory usage: 8.8+ MB

In [68]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131662 entries, 0 to 131661
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Trip_ID                   131662 non-null  object
 1   Trip_Distance             131662 non-null  float64
 2   Customer_Since_Months     131662 non-null  float64
 3   Life_Style_Index          131662 non-null  float64
 4   Customer_Rating           131662 non-null  float64
 5   Cancellation_Last_1Month  131662 non-null  float64
 6   Var1                      131662 non-null  float64
 7   Var2                      131662 non-null  float64
 8   Var3                      131662 non-null  float64
 9   Surge_Pricing_Type        131662 non-null  float64
 10  B                         131662 non-null  uint8
 11  C                         131662 non-null  uint8
 12  D                         131662 non-null  uint8
 13  E                         131662 non-null  uint8
 14  B                         131662 non-null  uint8
 15  C                         131662 non-null  uint8
 16  D                         131662 non-null  uint8
 17  E                         131662 non-null  uint8
 18  F                         131662 non-null  uint8
 19  G                         131662 non-null  uint8
 20  H                         131662 non-null  uint8
 21  I                         131662 non-null  uint8
 22  J                         131662 non-null  uint8
 23  K                         131662 non-null  uint8
 24  L                         131662 non-null  uint8
 25  M                         131662 non-null  uint8
 26  N                         131662 non-null  uint8
 27  Male                      131662 non-null  uint8
dtypes: float64(9), object(1), uint8(18)
memory usage: 13.3+ MB

# Models

In [69]:
traindf.columns

Index(['Trip_ID', 'Trip_Distance', 'Customer_Since_Months', 'Life_Style_Index',
       'Customer_Rating', 'Cancellation_Last_1Month', 'Var1', 'Var2', 'Var3',
       'Surge_Pricing_Type', 'B', 'C', 'D', 'E', 'B', 'C', 'D', 'E', 'F', 'G',
       'H', 'I', 'J', 'K', 'L', 'M', 'N', 'Male'],
      dtype='object')

In [72]:
X_train = traindf[['Trip_Distance', 'Customer_Since_Months', 'Life_Style_Index',
       'Customer_Rating', 'Cancellation_Last_1Month', 'Var1', 'Var2', 'Var3',
        'B', 'C', 'D', 'E', 'B', 'C', 'D', 'E', 'F', 'G',
       'H', 'I', 'J', 'K', 'L', 'M', 'N', 'Male']]
y_train = traindf['Surge_Pricing_Type']

In [73]:
logicreg = LogisticRegression()

logicreg.fit(X_train,y_train)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [74]:
X_test = testdf[['Trip_Distance', 'Customer_Since_Months', 'Life_Style_Index',
       'Customer_Rating', 'Cancellation_Last_1Month', 'Var1', 'Var2', 'Var3',
        'B', 'C', 'D', 'E', 'B', 'C', 'D', 'E', 'F', 'G',
       'H', 'I', 'J', 'K', 'L', 'M', 'N', 'Male']]
predictions = logicreg.predict(X_test)

In [100]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()

rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [101]:
predictions = rfc.predict(X_test)

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestClassifier()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 288 candidates, totalling 864 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed: 12.7min

In [102]:
ans = pd.DataFrame(predictions,columns=['Surge_Pricing_Type'])

ans = pd.concat([ans,testdf['Trip_ID']],axis=1)

ans.to_csv('submissionrfc.csv',index=False)

In [103]:
ans.head()

   Surge_Pricing_Type      Trip_ID
0                 1.0  T0005689459
1                 2.0  T0005689462
2                 2.0  T0005689463
3                 2.0  T0005689466
4                 2.0  T0005689468